*{ 
    max-height: fit-content;
}
#corpo{
    background-color: darkgrey;
}
.title{
    text-align: center;
}
.rush{
    color: rgb(255, 153, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px black;
    
}
#subtitle{
    text-transform: uppercase;
    text-decoration: overline underline;
    font-family: monospace;
}
.navicon{
    text-decoration: none;
    color: black;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navicon:hover{
    color: rgb(255, 153, 0);
}
#img{
    width: 85px;
    position: relative;
    left: 15%;
    position: relative;
    
}
#botoesnav{
    position: relative;
    left: 24%;
}
#section{
    position: relative;
    left: 15%
}
.botoes{
    background-color: rgb(255, 153, 0);
}
.botoes:hover{
    background-color: black
}
#destaques{
    position: relative;
    left: 15%;
    color:rgb(255, 153, 0);
    font-weight: 100px;
}
.imagem{
    width: 250px;
}
.description{
    text-decoration: none;
    height: 40px;
    width: 250px;
}
.description:hover{
    text-transform: uppercase;
}
#turbo{
    width: 250px;
    position: relative;
    left: 15%;
}