*{ 
    max-height: fit-content;
}
.title{
    text-align: center;
}
.rush{
    color: rgb(255, 153, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#subtitle{
    text-transform: uppercase;
    text-decoration: overline underline;
    font-family: monospace;
}
.botoes{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 153, 0);
    font-weight: bolder;
    background-color: black;
    

}
#img{
    width: 85px;
    position: relative;
    left: 15%;
    position: relative;
    
}
#div{
    position: relative;
    left: 24%;
}
#section{
    position: relative;
    left: 15%
}
.botoes:hover{
    color: black;
    background-color: rgb(255, 153, 0);
}
#destaques{
    position: relative;
    left: 15%;
    color: black;
}
.button{
background-color: rgb(255, 253, 0);
}
.button:hover{
background-color: black;
}
